[submodule "nixpkgs"]
	path = nixpkgs
	url = git@github.com:jethrokuan/nixpkgs.git
[submodule "nix-ros-overlay"]
	path = nix-ros-overlay
	url = https://github.com/lopsided98/nix-ros-overlay
[submodule "home-manager"]
	path = home-manager
	url = https://github.com/nix-community/home-manager
